* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    background-color: rgb(24, 0, 24);
}

body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#name{
    text-align: center;
    font-weight: 600;
    display: inline-block;
    -webkit-transform:scale(2.5,1); /* Safari and Chrome */
    transform:scale(2.5,1); /* W3C */
    font-size: 10svh;
    letter-spacing: -0.25svh;
    color: white;
}

#link-container{
    justify-content: space-around;
    width: 50vw;
}

.link{
    margin-right: 5svh;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Playfair;
    font-size: 3.5svh;
}

#music-credit{
    display: none;
    position:absolute;
    bottom:4px;
    right:4px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2svh;
}