* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    background-color: rgb(24, 0, 24);
}

body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#back-arrow{
    height: 3vh;
    width: 3vh;
    margin-bottom: 5vh;
}

#back-arrow:hover{
    transform: scale(1.75);
    transition: all 0.2s ease-in-out;
}

.link{
    font-size: 4vh;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Playfair;
}

.link:hover{
    opacity: 60%;
    transition: all 0.5s ease-in-out;
}

#copy-button{
    margin-left: 1vh;
    height: 3vh;
    width: 3vh;
}

#copy-button:hover{
    opacity: 60%;
    transition: all 0.5s ease-in-out;
}