* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    background-color: rgb(24, 0, 24);
}

body {
    padding: 5svh;
    display: flex;
    flex-direction: column;
}

#back-arrow{
    height: 3svh;
    width: 3svh;
    margin-bottom: 5svh;
}

#title{
    color: white;
    transform:scaleY(1.5);
    font-size: 10svh;
    margin-bottom: 5svh;
    transform:scaleY(1.5);
}

#icon-container{
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.subheading{
    font-size: 3svh;
    transform:scaleY(1.25);
    color: white;
}

.project-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3svh;
    padding-bottom: 3svh;
}

.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 15svh;
}

.project-image{
    width: 40svh;
}

.project-title{
    text-align: left;
    font-size: 3svh;
    font-weight: 200;
    color: white;
}

.title-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
}

.info-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
}